*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/app/src/main/AndroidManifest.xml
/app/src/main/java/com/pelutime/application/Constants.kt
/app/src/main/java/com/pelutime/core/BaseViewModel.kt
/app/src/main/java/com/pelutime/data/